<head>
  <link rel="stylesheet" href={{url_for('static',filename='css/style.css')}}>
  <link rel="stylesheet" href={{url_for('static',filename='css/bootstrap.min.css')}}>
</head>
<header>
      <nav>
        <div class="logo">
            <a href="#" class="sidenav-trigger">☰ </a>
            <a href="#" class="brand-logo"><img src="Logos/logo2.png" alt="code"></a>
            <a href="#" class="brand-logo">Inteligence</a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="##">Contact </a></li>
            <li><a href="#">About</a></li>
            <li><a href="portfolio.html">protfolio</a></li>
        </ul>
    </nav>
 
</header>
